<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    
    <target xsi:type="File" name="f" fileName="${basedir}/logs/Prospects.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
  
    <target name="gmail" 
            xsi:type="Mail"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUserName="someone@gmail.com"
            smtpPassword="secret"
            enableSsl="true"
            from="dennis@zenwindows.com"
            to="dennis@zenwindows.com"
            subject="Quote request from Zen Windows of St. Louis"
            encoding="utf-8"
            html="true"
          />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <logger name="email" minlevel="Trace" writeTo="gmail" />
    
    <logger name="file" minlevel="Trace" writeTo="f" />

  </rules>
</nlog>